@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
:root {
  --color-white: #ffffff;
  --color-blue: #0064ff;
  --color-darkgray: #4a4e55;
  --color-black: #0f0f0f;
  --color-semigray: rgb(197, 195, 195);
  --color-lightgray: whitesmoke;
  --color-background: #f2f3f8;
  --color-red : #d40b0b;
  --font: 'Pretendard';
}

* {
  color: var(--color-black);
  font-family: var(--font);
}

#app {
  background-color: var(--color-background);
}

header {
  background-color: var(--color-white);
}

.btn-search{
  border: none;
  background: var(--color-white);
    padding: 5px 15px;
  border-radius: 3px;
  
}

.btn-search a, .btn-search i{
  color: var(--color-blue);
  text-decoration: none;
  font-weight: bold;
}
.agile__dots {
  bottom: 10px;
  flex-direction: column;
  right: 30px;
  position: absolute;
}
.agile__dot {
  margin: 5px 0;
}
.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}
.agile__dot--current button,
.agile__dot:hover button {
  background-color: #fff;
}

.slide1,
.slide2,
.slide3 {
  display: block;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
}

#logoTitle {
  font-family: 'Libre Barcode 39 Text', cursive;
  /* font-family: 'Shrikhand', cursive; */
  /* font-family: 'Mochiy Pop One', sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
}
